.new-arrivals {
  text-align: center;
  width: 100%;
  height: 930px;
  padding-top: 0px;
}

.new-arrivals-logo {
  height: 70px;
  width: 350px;
  box-shadow: 10px 10px 5px lightblue;
  border-radius: 5px;
}

.new-arrivals-logo:hover {
  width: 390px;
  /* box-shadow: 10px 10px 5px lightblue inset; */
}

.new-arrivals .title {
  color: red;
  font-size: 30px;
  margin-top: 50px;
}

.new-arrivals-card {
  justify-content: center;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 1fr 1fr;
  column-gap: 25px;
  row-gap: 150px;
}

.card {
  height: 250px;
  width: 200px;
  margin: 0 10px;
  background-color: orange;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transition: transform 0.2s; /* Animation */
}

.card:hover {
  transform: scale(1.3);
}

.card img {
  height: 250px;
  width: 200px;
  border-radius: 30px 0 30px 0;
}

.btn-buy {
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s;
}

.btn-buy:hover {
  transform: scale(1.3);
}

@media (max-width: 1400px) {

    .new-arrivals-logo {
        margin-top: 260px;
    }

  .new-arrivals-card {
    justify-content: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
  row-gap: 150px;
  }

  .card {
    height: 250px;
    width: 200px;
    border: 1px solid black;
    margin: 0 10px;
    background-color: orange;
  }
}

@media (max-width: 700px) {

    .new-arrivals-logo {
        margin-top: 510px;
    }

  .new-arrivals-card {
    justify-content: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 150px;
  }

  .card {
    height: 250px;
    width: 200px;
    border: 1px solid black;
    margin: 0 10px;
    background-color: orange;
  }
}

@media (max-width: 460px) {

    .new-arrivals-logo {
        margin-top: 1300px;
    }

  .new-arrivals-logo {
    height: 60px;
    width: 280px;
    box-shadow: 10px 10px 5px lightblue;
  }

  .new-arrivals-logo:hover {
    width: 280px;
    box-shadow: 10px 10px 5px lightblue inset;
  }

  .new-arrivals-card {
    justify-content: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 150px;
  }

  .card {
    height: 250px;
    width: 200px;
    border: 1px solid black;
    margin: 0 10px;
    background-color: orange;
  }
}
